<template>
  <div
    :id="data.id"
    class="banner"
  >
    <div
      v-if="data.date"
      class="d-flex flex-wrap w-100 gap-3 justify-content-evenly p-3"
    >
      <div class="w-25rem flex-grow-20">
        <h3>{{ data.title }}</h3>
        <p class="fw-bold">
          {{ $fancyDate(data) }}
        </p>
        <ContentRenderer
          :value="data"
          class="p-bottom"
        />
        <template v-if="isFutureDay(data)">
          <ul>
            <li>
              3:30 pm - 6:00 pm:  Panel Discussion and Audience Q&amp;A
            </li>
            <li>6:00 pm - 8:00 pm: Dinner and Discussion</li>
            <li class="list-style-none">
              Childcare provided
            </li>
          </ul>
          <p>
            <RSVPButton v-if="data.rsvp" :event="data" />
            <WatchButton v-if="data.youtube" :event="data" class="ms-3" />
          </p>
        </template>
        <WatchButton v-else-if="data.youtube" :event="data" />
        <p v-else>
          Recording available soon!
        </p>
        <DebugData
          :data="{ data }"
          :expand-depth="2"
        />
      </div>
      <div class="d-flex flex-wrap gap-3 justify-content-evenly flex-grow-1">
        <PanelistPane
          v-for="p in data.panelists"
          :key="p.name"
          :data="p"
          :event="data"
          class="w-12rem mw-vh-40 flex-grow-1"
          :lazy-image="lazyImages"
        />
      </div>
    </div>
    <div
      v-else
      class="p-3"
    >
      <h3>{{ data.title }}, To be announced…</h3>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { PanelEvent } from '~/lib/events'

defineProps<{
  data: PanelEvent
  lazyImages?: boolean;
}>()

const isFutureDay = useIsFutureDay()
</script>

<style scoped lang="scss">
.banner:nth-of-type(even) {
  background-color: #eeecdf
}
</style>
