<template>
  <div class="text-center">
    <div>
      <NuxtImg
        :src="`/events/${eventID}/${slug}.jpg`"
        class="w-100 h-auto"
        sizes="xs:100vw sm:50vw md:250px"
        width="1080"
        height="1350"
        format="webp"
        :alt="`Portrait of ${data.name}`"
        :loading="lazyImage ? 'lazy' : 'eager'"
      />
    </div>
    <div>
      <span class="fs-5 fw-bold d-block">{{ data.name }}</span>
      {{ data.title }},
      <!-- eslint-disable vue/singleline-html-element-content-newline -->
      <a
        rel="noopener noreferrer nofollow"
        target="_blank"
        :href="data.orgurl"
      >{{ data.org }}<OpenInNewIcon class="align-super" /></a><template v-if="data.location">, {{ data.location }}</template><br>
      <!-- eslint-enable vue/singleline-html-element-content-newline -->
    </div>
  </div>
</template>

<script setup lang="ts">
import slugify from '@sindresorhus/slugify'
import OpenInNewIcon from 'vue-material-design-icons/OpenInNew.vue'
import type { Panelist, PanelEvent } from '~/lib/events'

const props = defineProps<{
  data: Panelist
  // FUTURE(vue>3.2): Use the union type.
  // https://vuejs.org/api/sfc-script-setup.html#typescript-only-features
  event: any // Actually: PanelEvent | string
  lazyImage?: boolean
}>()

const eventID = computed(() => {
  const e = props.event as PanelEvent | string
  return typeof e === 'string' ? e : e.id
})
const slug = computed(() => slugify(props.data.name))
</script>
