<template>
  <SimpleButton :href="event.rsvp">
    <slot>RSVP</slot>
  </SimpleButton>
</template>

<script setup lang="ts">
import type { PanelEvent } from '~/lib/events'

defineProps<{
    event: PanelEvent
}>()
</script>
