<template>
  <SimpleButton :href="`https://www.youtube.com/watch?v=${event.youtube}`">
    <slot>Watch {{ isFutureDay(event) ? 'Live' : 'Video' }}</slot>
  </SimpleButton>
</template>

<script setup lang="ts">
import type { PanelEvent } from '~/lib/events'

defineProps<{
  event: PanelEvent
}>()
const isFutureDay = useIsFutureDay()
</script>
