<template>
  <main>
    <BannerHeader
      :key="mounted ? 1 : 0"
      emoji="🗩🗨️"
      :img="next ? next.banner : 'dark/wood'"
      og-img="/home/svaf-motto.jpg"
    >
      <template v-if="next">
        <span class="fs-5">Upcoming panel discussion:</span><br>
        <h1 class="fs-2 fw-bold">
          {{ next.title }}
        </h1>
        <span class="fs-5 fw-bold">{{ $fancyDate(next) }}</span>
        <p class="pt-3">
          <RSVPButton v-if="next.rsvp" :event="next" />
          <WatchButton v-if="next.youtube" :event="next" class="ms-3" />
        </p>
      </template>
      <template v-else>
        <h1>
          Silicon Valley Areopagus Forum
        </h1>
        <span class="fst-italic fs-5 fw-normal">discovering truth together</span>
      </template>
    </BannerHeader>
    <div class="d-flex flex-wrap flex-row-reverse gap-3 w-100 p-3">
      <div class="w-30rem flex-grow-4">
        <p>
          <b class="fs-5">What is this all about?</b><br>
          Silicon Valley is home to some of the brightest minds in the universe.
          Yet when it comes to matters of religion, few of its residents have
          expressed much intellectual curiosity, and many seem content with a
          surface-level understanding of transcendent truths.
        </p>
        <p>
          The Silicon Valley Areopagus Forum exists to challenge the people of
          Silicon Valley—regardless of occupation or level of education—to think
          more deeply about matters of faith and philosophy.  Rooted in a
          distinctly Christian worldview, the Forum aims to facilitate and model
          healthy discussion of important matters by hosting local Christian
          thinkers as well as panelists representing other worldviews who are
          willing to engage the claims of Christianity.
        </p>
        <p>
          <b class="fs-5">Where does the name come from?</b><br>
          In ancient Greece, the Areopagus was a prominent location where
          Athenians would gather to deliberate over philosophy and religion.
          You can read about its significance to Christianty in
          <a
            href="https://www.biblegateway.com/passage/?search=acts+17%3A22-34&version=ESV"
            rel="noopener"
            target="_blank"
          >Acts 17:22-34<OpenInNewIcon class="align-super" /></a>.
        </p>
      </div>
      <div class="w-30rem flex-grow-1">
        <NuxtImg
          width="1280"
          height="841"
          class="w-100 h-auto"
          src="/home/svaf-sacrifice-discussion.jpg"
          sizes="xs:100vw sm:100vw md:100vw lg:100vw xl:50vw xxl:40vw"
          format="webp"
          alt="A panel discussion"
        />
      </div>
    </div>
    <section>
      <h2 class="mb-0">
        <template v-if="!schedule.length">
          We don’t have any events scheduled at the moment.
          Check back later!
        </template>
        <template v-else-if="next">
          Check out our {{ scheduleYear }} lineup!
        </template>
        <template v-else>
          We are still planning out our {{ scheduleYear }} lineup.
          Check back soon!
        </template>
      </h2>
      <EventPane
        v-for="e in schedule"
        :key="`${e.id}-${mounted}`"
        class="banner"
        :data="e"
      />
    </section>
    <section class="text-white bg-dark text-end">
      <p class="fst-italic fs-5 p-3 pt-5">
        …discovering truth together.
      </p>
    </section>
    <DebugData
      :data="{ now, scheduleYear, schedule, next, events }"
      :expand-depth="1"
    />
  </main>
</template>

<script setup lang="ts">
import OpenInNewIcon from 'vue-material-design-icons/OpenInNew.vue'
import { PanelEvent } from '~/lib/events'

const now = useNow()
const isFutureDay = useIsFutureDay()
const mounted = useMounted()

const events = await queryContent<PanelEvent>('/events')
  .sort({ id: 1 })
  .find()

const scheduleYear = computed(() => {
  const y = now.value.year()
  if (events.some(e => e.id.startsWith(y.toString()))) return y
  return y + 1
})

const schedule: ComputedRef<PanelEvent[]> = computed(() =>
  events.filter(e => e.id.startsWith(scheduleYear.value.toString())))

const next = computed(() => schedule.value.find(e => isFutureDay.value(e)))
</script>
